* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* Start Header */
.header .nav {
    background-color: #1e3a8a;
    margin: 0;
    padding: 1rem;
    width: 100%;
}
@media (min-width: 768px) {
    .header .title-container {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}
.header h2 {
    margin: 0;
    color: white;
    font-size: 1rem;
}
/* End Header */
/* Start Content */
.content {
    text-align: center;
    max-width: 48rem;
    margin: auto;
}
@media (min-width: 768px) {
    .content {
        padding-top: 1rem;
    }
}
@media (max-width: 767px) {
    .content {
        padding: 0.25rem 1rem;
        padding-top: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.content .content-text h1 {
    margin: 0;
    line-height: 3rem;
    font-size: 1.8rem;
}
@media (max-width: 767px) {
    .content .content-text h1 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}
.content .content-text h1 span {
    color: #ef4444;
}
.content .content-text p {
    margin: 0.5rem 0 0 0;
    line-height: 1.7rem;
    font-size: 1.2rem;
}
@media (max-width: 767px) {
    .content .content-text p {
        font-size: 0.8rem;
        margin: 0;
    }
}
.content .image {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content .image img {
    width: 60%;
}
@media (max-width: 767px) {
    .content .image img {
        width: 80%;
    }
}
.content .text {
    font-size: 1rem;
}
@media (max-width: 767px) {
    .content .text {
        font-size: 0.8rem;
    }
}
.content .status {
    margin-top: 1rem;
}
@media (max-width: 767px) {
    .content .status {
        margin: 0;
        padding: 3rem 0 3rem;
    }
}
.content .status .age-options,
.content .status .us-options,
.content .status .dental-benefits,
.content .status .benefits-need {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
@media (max-width: 767px) {
    .content .status .age-options,
    .content .status .us-options,
    .content .status .dental-benefits,
    .content .status .benefits-need {
        margin: 0;
    }
}
.content .age .age-options {
    display: block;
}
.content .status .us-options {
    display: none;
}
.content .status .dental-benefits {
    display: none;
}
.content .status .benefits-need {
    display: none;
}
.content .status .age-options h2,
.content .status .us-options h2,
.content .status .dental-benefits h2,
.content .status .benefits-need h2 {
    margin: 0;
    line-height: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #000000d4;
}
@media (max-width: 767px) {
    .content .status .age-options h2,
    .content .status .us-options h2,
    .content .status .dental-benefits h2,
    .content .status .benefits-need h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}
.content .status .age-options button,
.content .status .us-options button,
.content .status .dental-benefits button,
.content .status .benefits-need button {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    width: 100%;
    border: none;
    background-color: #3b82f6;
    color: white;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.content .status .age-options button:hover,
.content .status .us-options button:hover,
.content .status .dental-benefits button:hover,
.content .status .benefits-need button:hover {
    opacity: 0.8;
}
.content .status .age-options button:focus,
.content .status .us-options button:focus,
.content .status .dental-benefits button:focus,
.content .status .benefits-need button:focus {
    width: 95%;
}
.content .footer {
    margin-top: 3rem;
}
@media (max-width: 767px) {
    .content .footer {
        padding: 1rem;
    }
}
.content .footer .terms {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0 auto 3rem;
}
.content .footer .terms a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #3b82f6;
}
.content .footer .terms a:hover {
    text-decoration: underline;
}
.content .footer .terms p {
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #3b82f6;
}
.content .footer .footer-text {
    font-size: 0.75rem;
    line-height: 1rem;
}
@media (max-width: 767px) {
    .content .footer .footer-text {
        font-size: 0.75rem;
    }
}
.content .footer .footer-text p:last-child {
    font-size: 0.9rem;
}
/* End Content */
/* Start Popup */
.popup {
    display: none;
    background-color: #d1d5db;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    box-shadow: 0px 5px 11px #cfcfcf;
    border-top: 2px solid #3b82f6;
}
.popup h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}
.popup h2 {
    color: #16a34a;
    margin: 0.8rem 0 0 0;
    font-size: 1.4rem;
}
.popup button {
    border: none;
    background-color: #f97316;
    color: white;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    margin: 0.6rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.popup button:hover {
    opacity: 0.8;
}
.popup p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
.popup span:first-child {
    text-decoration: underline;
}
.popup span:last-child {
    color: #ef4444;
}
/* End Popup */